.header {
    display: flex;
    align-items: center;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(25, 111, 61);
}

.header .logo {
    max-height: 32px;
}

.header .title-group {
    padding-left: 5px;
}

.header .title-group i {
    padding-left: 5px;
    padding-right: 5px;
}

