form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

input {
    color: rgb(25, 110, 60);
    background-color: rgb(210, 210, 210);
    margin-bottom: 0px;
}

button {
    vertical-align: middle;
    margin-top: 0px;
    margin-right: 30px;
    height: 30px;
    width: 130px;
    padding: 0px;
}

table {
    width: 100%;
    min-width: 10px;
}

div {
    width: 100%;
}

.buttonInseir {
    vertical-align: middle;
    margin-top: 10px;
    margin-right: 30px;
    height: 30px;
    width: 130px;
    padding: 0px;
}

.mat {
    margin-top: 0px;
    width: 150px;
    height: 30px;
}

.cpf {
    width: 150px;
    height: 25px;
}

.title {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1.2;
}    

.subtitle {
    font-size: 0.8rem;
    line-height: 1;
    color: rgb(25, 115, 60);
}    

