form {
    display: flex;
    flex-direction: column;
    align-items: left;
}

input {
    color: rgb(25, 110, 60);
    background-color: rgb(210, 210, 210);
    margin-bottom: 0px;
}

button {
    vertical-align: middle;
    margin-top: 0px;
    margin-right: 30px;
    height: 30px;
    width: 130px;
    padding: 0px;
}

table {
    width: 100%;
    min-width: 10px;
}

div {
    width: 100%;
}

i.upload {
    color: rgb(250, 50, 50);
}

.buttonSalvar {
    vertical-align: middle;
    margin-top: 10px;
    margin-right: 130px;
    height: 30px;
    width: 130px;
    padding: 0px;
}

.descricaoBeneficio {
    width: 100%;
    height: 50px;
}

.cpf {
    width: 150px;
    height: 25px;
}

.title {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1.2;
}    

.subtitle {
    font-size: 0.8rem;
    line-height: 1;
    color: rgb(25, 115, 60);
}    

